body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #f08b0f, yellow);
    min-height: 100vh;
    /* padding-top: 1rem; */
}

.image-full {
    margin: 0;
    padding: 0;
    background-image: url(/images/pikapika.png);
    background-size: 500px auto;
    background-repeat: no-repeat;
    background-position: left bottom;
}

h2 {
    margin: 0;
}

/* .page-content {
    position: relative;
    z-index: 1; /* Pour que le contenu soit placé au-dessus de l'image de fond 
    padding: 20px; /* Ajoutez ici le padding souhaité pour le contenu 
} */

.modal .modal-content {
    display: none;
}

.score-name,
.marks-Errors,
span {
    text-align: center;
}

.marks-Errors {
    font-family: "Pokemon Solid", sans-serif;
    list-style: none;
    color: #a42e10;
}

#reset-button {
    position: absolute;
    top: 90%;
    left: 90%;
    /* transform: translate (-50%, -50%); */
    transform: translate(-45%, -45%);
    background-color: #ffc702;
    border: none;
}

#underscore-container {
    display: flex;
    justify-content: center;
}

.main-page {
    display: flex;
    justify-content: center;
    /* margin-top: 2%; */
}

select {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #ffa600;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
}

#category-name {
    display: flex;
    height: 200px;
    justify-content: center;
    font-size: 1.5rem;
    color: red;
}

#underscore-container {
    display: flex;
    gap: 1rem;
}

.space {
    width: 2rem;
    /* background-color: red; */
}

.section-title__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: royalblue;
    font-size: 1.5rem;
    font-family: "Pokemon Solid", sans-serif;
}

.section-title__content__text {
    color: #a42e10;
    font-size: 1.5rem;
    width: 50%;
}

/* body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-text {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

#wins {
    display: flex;
    justify-content: flex-end;
    margin-right: 9%;
}

@media screen and (max-width: 1498px) {
    .image-full {
        background-size: 400px auto;
    }
}

@media screen and (max-width: 1198px) {
    .image-full {
        background-size: 300px auto;
    }
    .section-title__content .section-title__content__text {
        font-size: 24px;
    }
}

@media (width < 898px) {
    .image-full {
        background-size: 200px auto;
        background-position: 50% 75%;
    }
    .section-title__content {
        line-height: 5;
    }

    .marks-Errors {
        align-items: center;
        /* font-size: 10px; */
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}
